/target/
.project
.classpath
nb-configuration.xml
/.apt_generated/
/.apt_generated_tests/
/.generated-sources/
/.generated-test-sources/
.pom
.idea
/.idea/
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/**
/src/main/resources/build.properties
*.properties
