<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>laborex</display-name>
    <servlet>
        <servlet-name>DownloadFileServlet</servlet-name>
        <servlet-class>fileupload.DownloadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MigrationServlet</servlet-name>
        <servlet-class>fileupload.MigrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckMigrationServlet</servlet-name>
        <servlet-class>fileupload.CheckMigrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Incoming</servlet-name>
        <servlet-class>smsgateway.Incoming</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JobServlet</servlet-name>
        <servlet-class>job.JobServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>InvoiceServlet</servlet-name>
        <servlet-class>job.InvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doublons</servlet-name>
        <servlet-class>job.Doublons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Suggestion</servlet-name>
        <servlet-class>controller.Suggestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RetourFourData</servlet-name>
        <servlet-class>controller.RetourFourData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BalancePdfServlet</servlet-name>
        <servlet-class>rest.report.pdf.BalancePdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturePdfServlet</servlet-name>
        <servlet-class>rest.report.pdf.FacturePdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SockServlet</servlet-name>
        <servlet-class>rest.report.pdf.SockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateArticle</servlet-name>
        <servlet-class>controller.UpdateArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FactureProvisoire</servlet-name>
        <servlet-class>controller.FactureProvisoire</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataReportingServlet</servlet-name>
        <servlet-class>rest.report.pdf.DataReportingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VericationServlet</servlet-name>
        <servlet-class>controller.VericationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TiersPayantExcludServlet</servlet-name>
        <servlet-class>rest.report.pdf.TiersPayantExcludServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EtatControlStockServlet</servlet-name>
        <servlet-class>rest.report.pdf.EtatControlStockServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadFileServlet</servlet-name>
        <url-pattern>/DownloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MigrationServlet</servlet-name>
        <url-pattern>/MigrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckMigrationServlet</servlet-name>
        <url-pattern>/CheckMigrationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Incoming</servlet-name>
        <url-pattern>/Incoming</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JobServlet</servlet-name>
        <url-pattern>/JobServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InvoiceServlet</servlet-name>
        <url-pattern>/invoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doublons</servlet-name>
        <url-pattern>/Doublons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Suggestion</servlet-name>
        <url-pattern>/suggestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RetourFourData</servlet-name>
        <url-pattern>/RetourFourData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BalancePdfServlet</servlet-name>
        <url-pattern>/BalancePdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturePdfServlet</servlet-name>
        <url-pattern>/FacturePdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SockServlet</servlet-name>
        <url-pattern>/SockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateArticle</servlet-name>
        <url-pattern>/UpdateArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FactureProvisoire</servlet-name>
        <url-pattern>/FactureProvisoire</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataReportingServlet</servlet-name>
        <url-pattern>/DataReportingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VericationServlet</servlet-name>
        <url-pattern>/VericationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TiersPayantExcludServlet</servlet-name>
        <url-pattern>/TiersPayantExcludServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EtatControlStockServlet</servlet-name>
        <url-pattern>/EtatControlStockServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>-1</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
